<footer class="container bg">
  <div class="">
    Trường Đại học Giao thông vận tải TP.HCM
  </div>
  <div class="">
    Cơ sở chính: Số 2, Đường D3, Văn Thánh Bắc, F.25, Q. Bình Thạnh, TP.HCM
  </div>
  <div class="">
    Điện thoại: (028) 38992862
  </div>
  <div class="">
    Email: support@ut.edu.vn - pdt@ut.edu.vn
  </div>
</footer>
