<h1>Editing User</h1>
 <% @user.each do |u| %>
   <%= form_tag(update_path, method: "post") do %>
     Name: <%= text_field_tag :name, params[:name], value:"#{u.name}"%><br>
     Department:<br>
     <%= select(params[:department_id],"department_id", @department.collect {|p| [ p.department_name, p.id, selected:"#{u.department_id}" ] }, { include_blank: true })%><br>
     <%= submit_tag "Update", class:"tenants-list-search-submit" %>
   <% end %>
 <% end %>
