/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 *= require bootstrap-datepicker
 */
/* banner  */
body{
  background: #95daf1 !important;
}
.container{
  background: white;
  height: auto;
}
.banner{
  width: 100%;
  height: fit-content;
  min-height: 400px;
}
.sub-banner{
  position: relative;
}
.flag{
  position: absolute;
  top: 4%;
  right: 35%;
}
.sub-flag {
  width: 5%;
  height: 30px;
}
.menu{
  position: sticky !important;
  top: 0px;

}
/* slide bar search */
#search{
  float: right;
}
.search, .search-container button {
    float: none;
    display: block;
    text-align: left;
    margin: 0;
    padding: 6px;
    float: left !important;

  }
input[type=text], input[type=password]{
  float: none;
  display: block;
  text-align: left;
  margin: 0;
  padding: 6px;
}

 footer.container{
    /* position: fixed; */
    /* left: 0; */
    /* bottom: 0; */
    width: 100%;
    background-color: #4f82cc;
    color: white;
    text-align: center;
    margin-top: 2%;
 }
 @media only screen and (max-width: 1000px) {
  #search, .search, .search-container button {
    display: none;
  }
}
