// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding: 20px;
  background-color:#ffffc9
}

button {
  margin: .5rem 0;
}
.popup-rollcall {
  margin-top: -40% ;
}
// #my_camera{
//  width: 320px;
//  height: 240px;
//  border: 1px solid black;
// }
