<button id = "rollcall"><%=  I18n.t('rollcall') %></button><br/>
<input type=button value="Take Snapshot" id="capture" >
 <div id="my_camera"></div>
 <div id="results" ></div>
 <%= javascript_pack_tag 'places', 'data-turbolinks-track': 'reload' %>
