<button id = "rollcall"><%=  I18n.t('rollcall') %></button><br/>
 <div id="my_camera"></div>
 <input type=button value="Configure" id="turnon" >
 <input type=button value="Take Snapshot" id="capture" >
 <input type=button value="Save Snapshot" id="save">
 <div id="results" ></div>
